---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Experiences from '../components/Experiences.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Portfolio">
	<main class="max-w-7xl mx-auto px-4 pt-20">
		<!-- Intro Section -->
		<Intro />

		<!-- Experience Section -->
		<Experiences />

		<!-- Projects Section -->
		<Projects />

		<!-- Contact Section -->
		<Contact />
	</main>
</Layout>
